button {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background-color: #f0ab00;
	color: white;
}

p {
	margin: 0;
}

button:focus {
	outline :none;
}

.cirle-button.on__true {
	border: solid 7px rgb(0, 143, 211);
}

.cirle-button.on__false {
	/*border: solid 5px #f0ab00;*/
}

.cirle-button .title {
	font-weight: bold;
	font-size: 20px;
}

.cirle-button .sub-title {
	font-size: 15px;
	margin-top: 5px;
}