nav {
	background: black;
	font-size: 20px;
	line-height: 30px;
	padding: 10px 10px 5px 15px;
	color: white;
}

nav img {
	height: 30px;
}

nav .nav-title {
	margin-left: 15px;
	vertical-align: text-bottom;
}