.slide-arrow {
	z-index: 999;
}
.slide-arrow.left {
	position: absolute;
	left: 20px;
	top: 150px;
}

.slide-arrow.right {
	position: absolute;
	right: 20px;
	top: 150px;
}
.carousel-component {
	display: flex;
	justify-content: center;
}
.carousel-slider {
	width: 200%;
	display: inline-flex;
	transition: transform 400ms ease-in;
}