html {
	font-family: Arial;
}

body {
  margin: 0;
}

.btn-list {
	background-color: rgb(34, 34, 34);
	color: #545454;
	display: flex;
	justify-content: space-evenly;
	padding: 30px 0;
	height: 150px;
}

.chart-container {
	height: 250px;
	width: 50%;
	float: left;
}

.table-container {
	width: 50%;
	float: left;
}

.chart-container, .table-container {
	margin-top: 30px;
	margin-bottom: 30px;
}

.chart-container h3, .table-container h3 {
	padding-left: 30px;
}

.mobile_true {
	display: none;
}

/* mobile */
@media only screen and (max-width : 480px) {
	.chart-container, .table-container {
		width: 100%;
	}
	.mobile_false {
		display: none;
	}
	.mobile_true {
		display: flex;
	}
}